/* Overview */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #FAF8F4;
    font-family: 'Inter', sans-serif;
}

a{
    color: #39AEA9;
    text-decoration: none;
}

a:hover{
    color: #25726e;
}

.h1{
    font-weight: bold;
}

/* Header */

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #39AEA9;
}

.inner_header{
    width: 100%;
    height: 78px;
    display: block;
    margin: 0 auto;
    background-color: white;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo{
    height: 80%;
    margin: 10px;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
}

/* Body */

.body_container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
}

/* Title */

.title_container{
    height: 100%;
    width: 100%;
    display: table;
    float: left;
    margin-bottom: 20px;
}

.headline{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
}

.my_posts_container{
    float: right;
    height: 100%;
    padding: 0px 20px;
    /* padding: 0px 20px; */
    color: #39AEA9;
}

/* Cards */

.card{
    background: #FFFFFF;
    height: 400px;
    width: 300px;
    border: 1px solid #39AEA9;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #39AEA9;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
}

#new_post_card{
    background: #EBF7F7;
    color: #39AEA9;
}

.card-img-top{
    height: 160px;
    object-fit:cover;
    object-position: center;
}

.card-body{
    margin: 5px;
}

.card-title{
    font-weight: bold;
}

.btn-primary{
    border-radius: 20px;
    background-color: white;
    color: #39AEA9;
    border: 2px solid #39AEA9;
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.btn-primary:hover{
    background-color: #39AEA9;
    border: 2px solid #39AEA9;
    color: white;
}

/* Row fix wft */
.row{
    width: 100%;
}

/* Input Form */

input[type=text]{
    border: none;
    background-color: white;
}

input[type=password]{
    border: none;
    background-color: white;
}

/* Account form */

input{
    margin: 10px;
}

.account_info{
    padding: 5px;
    background-color: #EDECE9;
}

button{
    border-radius: 20px;
    background-color: white;
    color: #39AEA9;
    border: 2px solid #39AEA9;
    font-size: 14px;
    padding: 10px;
}

#quickstart-sign-in{
    background-color: #39AEA9;
    color: white;
}

#quickstart-verify-email{
    border-radius: 20px;
    background-color: #FAF8F4;
    color: #39AEA9;
    border: none;
    font-size: 14px;
    padding: 10px;
}

#quickstart-password-reset{
    border-radius: 20px;
    background-color: #FAF8F4;
    color: #39AEA9;
    border: none;
    font-size: 14px;
    padding: 10px;
}